<h1><%= @post.title %> 内での<%= @post_evaluate.name %> の評価</h1>

<%= form_tag(url: "#") do %>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= collection_radio_buttons :evaluate, :point, @hexagons, :id, :name %>
  <%= submit_tag '選択した項目を評価する' %>
<% end %>