<h2><%= @post.title %> での<%= @user.name %> の評価をする。</h2><br>

<%= form_tag(url: "#") do %>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= collection_radio_buttons :evaluate, :point, @hexagons, :id, :name %>&emsp;&emsp;
  <%= submit_tag '選択した項目を評価する' %>
<% end %>