
  <!-- <div class="center">
    <div class="col-xs-12">
      <div style="float:center;">
        <div class="panel panel-default">
          <div class="panel-heading">絞り込み検索</div>  
            <div class="panel-body">
              <%#= form_tag(search_posts_posts_path, method: "get") do %>
              　<!-- <div>競　技<%#= select_tag(:sports, options_for_select([@sports, ['サッカー'], ['フットサル']])) %></div> -->
              　<!-- <div>開催エリア<%#= select_tag(:erea, options_for_select([@erea, ["東京都"], ["千葉県"], ["神奈川"]])) %></div>
              　<!-- <div>開催日<%#= select_tag(:event_date, options_for_select([@event_date, ['３日以内'], ['７日以内'], ['３０日以内']])) %></div> -->
              　<!-- <div>レベル<%#= select_tag(:level, options_for_select([@level, ["1 初級", 1], ["2 初級", 2], ["3 初級", 3], ["4 中級", 4], ["5 中級", 5], ["6 中級", 6], ["7 上級", 7], ["8 上級", 8], ["9 上級", 9], ["10 上級", 10]])) %></div><br> -->
              <%#= submit_tag "絞り込み" %><!-- <br><br>
              <%# end %>
              <%# @posts.each do |post| %>
                <%#= link_to post.id, post %> <%#= post.title %><!-- <br> -->
              <%# end %>
            <!-- </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="center">
    <div class="col-xs-12">
      <div style="float:center;">
        <div class="panel panel-default">
          <div class="panel-heading">サッカー、フットサル参加者募集情報</div>  
            <div class="panel-body">
              <% @posts.each do |post| %>
                <div>競　技：<%= post.sports %>&emsp;レベル：<%= post.level %>&emsp;<%= link_to post.title, post %></div>
                <div>開催日：<%= post.event_date.strftime("%Y年 %m月 %d日") %>&emsp;開催エリア：<%= post.erea %></di><br><br>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>