<ul class="media-list">
  <% posts.each do |post| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%#= gravatar_url(post.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to post.title, post %> <span class="text-muted">投稿日 <%= post.created_at.strftime("%Y年 %m月 %d日") %></span>
        </div>
        <div>
          <div>競　技：<%= post.sports %>　タイトル：<%= post.title %></div>
          <div>開催日：<%= post.event_date %>　時間帯：<%= post.open.strftime("%H時:%M分") %> ～ <%= post.closed.strftime("%H時:%M分") %></div>
          <div>開催エリア：<%= post.erea %>　レベル：<%= post.level %></div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>