<h1>id: <%= @post.id %> のメッセージ編集ページ</h1>

<ol>
    <%= form_for(@post) do |f| %>
      <li><%= f.label :sports, '競　技' %>
          <%= f.select :sports, [["サッカー"], ["フットサル"]] ,class:"form-control" %></li>
    
      <li><%= f.label :title, '募集のタイトル' %>
          <%= f.text_field :title %></li>
      
      <li><%= f.label :content, '募集内容' %>
          <%= f.text_field :content %></li>
    
      <li><%= f.label :event_date, '開催日' %>
          <%= date_select :page, :updated_at, :use_month_numbers => true, :start_year => 2018 %></li>
      
      <li><%= f.label :open, '開始時間' %>
          <%= time_select :page, :updated_at, :minute_step => 10 %>～
          <%= f.label :closed, '終了時間' %>
          <%= time_select :page, :updated_at, :minute_step => 10 %></li>
          
      <li><%= f.label :due_date, '締切日付' %>
          <%= date_select :page, :updated_at, :use_month_numbers => true, :start_year => 2018 %></li>
          
      <li><%= f.label :due_time, '締切時間' %>
          <%= time_select :page, :updated_at, :minute_step => 10 %></li>
          
      <li><%= f.label :erea, '開催エリア' %>
          <%= f.text_field :erea %></li>
          
      <li><%= f.label :place, '会　場' %><spacer>
          会場を
          <input type="radio" name="seibetu" value="0">確保している
          <input type="radio" name="seibetu" value="1">確保していない
          <%= f.text_field :place %></li>
          
      <li><%= f.label :capacity, '定　員' %>
          <%= f.text_field :capacity %></li>
          
      <li><%= f.label :cost, '費　用' %>
          <%= f.text_field :cost %></li>
          
      <li><%= f.label :level, 'レベル' %>
          <%= f.select :level, [["1 初級"], ["2 初級"], ["3 初級"], ["4 中級"], ["5 中級"], ["6 中級"], ["7 上級"], ["8 上級"], ["9 上級"], ["10 上級"]] %>～</li>
          
      
      <li><%= f.label :age_minimum, '参加者年齢' %>
          <%= f.select :age_minimum, [["10"], ["20"], ["30"], ["40"], ["50"], ["60"], ["70"], ["80"]] %>
          <%= f.label :age_maximum, "～" %>
          <%= f.select :age_maximum, [["10"], ["20"], ["30"], ["40"], ["50"], ["60"], ["70"], ["80"]] %></li>
      
      <li><%= f.label :sex, :"参加者性別" %>
          <%= f.select :sex, [["男"], ["女"], ["男女ミックス"]] ,class:"form-control" %></li>
          
      <%= f.submit '編集して投稿' %>
    <% end %>
</ol>

<%= link_to '募集一覧に戻る', posts_path %>