<h1>サッカー、フットサル参加者募集一覧</h1><br><br>

開催エリア
<%= form_tag(root_path, method: :get) do %>
  <%= collection_select :area_id, nil, Area.all, :id, :name, { include_blank: true }, {} %> 
  <%= submit_tag '探す' %>&emsp; &emsp; &emsp;<%= link_to '新しく募集する', new_post_path %>
<% end %><br><br>

  <ul>
    <% @posts.each do |post| %>
      <%# if post.event_date.since(8.days) >= Time.now %>
        <li><%= post.sports %>&emsp;<%= link_to post.title, post %></li>
        <div><%= post.area.name %>&emsp;レベル：<%= post.level %></div>
        <div>開催日：<%= post.event_date.strftime("%Y年 %m月 %d日") %>
        &emsp;時間帯：<%= post.open.strftime("%H時:%M分") %>
        ～<%= post.closed.strftime("%H時:%M分") %></div><br>
      <%# end %>
    <% end %>
  </ul><br><br>
<%# end %>
<%= paginate @posts %>