<h1>個人参加募集一覧</h1>

<%# if (@posts.user.due_date || @posts.user.capacity != @posts.due_date || @posts.posts.capacity) %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.id, post %> : <%= post.title %></li>
      <!-- <li><%#= f.sports %></li> -->
      <li><%= post.erea %></li>
      <!-- <li><%#= f.event_date %></li> -->
      <li><%= post.open %></li>
      <li><%= post.closed %></li>
      <!-- <li><%#= f.level %></li> -->
      <!-- <li><%#= post.applicante %></li> -->
    <% end %>
  </ul>
<%# end %>

<%= link_to '新規募集の投稿', new_post_path %>